
* {
  border: 0;
  padding: 0;
  margin: 0;
}

.main-div {
  background-color: #585555;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}

.main-content-list-cards{
  display: flex;
  background-color: rebeccapurple;
}

.product-card {
  display: flex;
  flex-flow: wrap;
  flex-grow: 1;
}

.shopping-cart-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: rgba(90, 131, 219, 0.664);
}

/* nFound */

.main-not-found {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

/* catagory-list */

.list-content {
  background-color: rgb(162, 172, 180);
  width: 15em;
  height: 100%;
}



/* Product-Card */

.main-card-product {
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px 0.1px black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  text-align: center;
  transition: 0.2s;
  margin: 0.5em;
  padding: 1px;
  width: 15%;
}

.main-card-product img {
  /* border: solid 1px red; */
  display: flex;
  object-fit: contain;
  width: 10em;
  border-radius: 0.2em;
}

/* Search */

.form fieldset {
  margin-top: 20px;
  margin-left: 20px;
  border-style: none;
}

