.main-card-product {
  align-items: center;
  background-color: #858585;
  border-radius: 1em;
  box-shadow: 1px 1px 10px 3px black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 20px;
  transition: 0.2s;
  width: 200px;
}

.main-card-product img {
  transform: scale(0.95);
  transition: 0.2s;
  width: 100%;
}

.main-card-product img:hover {
  transform: scale(0.97);
  transition: 0.2s;
  width: 100%;
}
