body {
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
}

.home-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-sidebar {
  border: solid 1px black;
  height: 80%;
  margin: 1% 5%;
  order: 1;
  padding-bottom: 1%;
  width: 25%;
}

.sidebar-title {
  font-size: 18px;
  font-weight: 600;
  margin: 5% 0 0 10%;
  text-align: left;
}

.category-list {
  margin: 4% 0 4% 3%;
}

.category {
  font-size: 19px;
  list-style-type: none;
  margin-bottom: 1%;
  text-align: left;
}

.category-radio {
  margin-right: 3%;
}

.search-form {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1%;
  order: 2;
  width: 75%;
}