
header {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: auto;
}

.categories {
  margin-top: 10px;
  width: 30%;
  border: 1px solid black;
}

.products {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  width: 70%;
  right: auto;
}

.card-product {
 display: flex;
 flex-flow: column;
 width: 25%;
 margin: 5px 5px;
 padding: 10px;
 border: 1px solid rgba(0, 0, 0, 0.404);
 border-radius: 4px;
}