* {
  margin: 0%;
  padding: 0%;
}

.Header {
  align-items: center;
  background-color: #fff159;
  display: flex;
  height: 5.5em;
  justify-content: space-around;
}

.Body {
  background-color: #ebebeb;
  display: flex;
}

.sideBar {
  background-color: white;
  padding: 1%;
  width: 18%;
}

.productArea {
  width: 83%;
}

.searchBar {
  align-items: center;
  display: flex;
  padding-top: 17px;
}

.pesquisar {
  height: 2em;
  width: 100%;
}

h3 {
  padding-bottom: 1em;
  text-align: center;
}

.logotipo {
  width: 140px;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  width: 28%;
}

.divImg {
  display: flex;
  height: 300px;
  justify-content: center;
}

.icon {
  font-size: 35px;
}
